.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.jumbotron {
    height: 400px;
    background-image: url(../../jumbotron.jpg);
}

.current-series {
    background-color: #0282f9;
    padding: 10px 15px;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -50%;
}

button {
    all: unset;
    cursor: pointer;
}

.load-more {
    background-color: #0282f9;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
}

