.container {
    width: 1300px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav a {
    color: #1c1c1c;
    font-weight: bold;
    padding: 20px 0;
}

nav img {
    width: 80px;
    height: 80px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

main {
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 20px 0;
}

.blue-bar-footer {
    background-color: #0282f9;
}