* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: "Open Sans";
}

main {
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 40px 0;
}

img {
    display: inline-block;

}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}